/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

div.block-ui-wrapper {
  background-color: rgba(255,255,255,0.1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
